a:link {
  color: rgb(40, 228, 90);
  text-decoration: underline; /* Default underline */
  background-color: transparent;
}
a:visited {
  color: rgb(40, 228, 90);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(15, 155, 29);
  background-color: transparent;
  text-decoration: underline;
}

body {
    /* Format: font-family: "Preferred Font", "Backup Font", generic-type; */
    background-color: rgb(25, 25, 25);
    font-family: "Courier New", Courier, monospace;
    color:rgb(250, 251, 252);
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    text-align: left;
    padding: 0 20px;
}

#divider{
    border-bottom: dashed;
    border-width: 2px;
}

ul{
    list-style-type: lower-roman;
}

#name{
    font-size: 30px;
    white-space: pre-wrap; 
}

#intro{
    color:rgb(40, 228, 90);
}

#connections{
    list-style-type: none;
}

#internships{
    color:rgb(176, 176, 176);
    white-space: pre-wrap; 
}

footer{
    font-size:small;
    text-align: center;
}

.music-btn {
    padding: 5px 5px;
    background-color: transparent; /* Dark button */
    color: white;
    border: 1px solid white;
    border-radius: 5px; /* Rounded pill shape */
    cursor: pointer;
    font-family: monospace;
    font-size: x-small;
    transition: all 0.5s ease;
    
}

.music-btn:hover {
    background-color: white;
    color: black;
}