a:link {
    color: rgb(40, 228, 90);
    text-decoration: underline; 
    background-color: transparent;
}
a:visited {
    color: rgb(40, 228, 90);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(0, 255, 64);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(15, 155, 29);
    background-color: transparent;
    text-decoration: underline;
}

body{
    background-color: rgb(20, 20, 25);
    font-family: "Courier New", Courier, monospace;
    color:rgb(250, 251, 252);
    max-width: 850px;
    margin: 0 auto;
    text-align: left;
    padding: 0 20px;
}

.portrait{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    flex-shrink: 0;
}


h3{
    font-weight: normal;
}


ul{
    list-style: disc;
}

#name{
    font-size: 30px;
    white-space: pre-wrap; 
}

#intro{
    color:rgb(255, 255, 255);
    line-height: 1.5;
}

#connections{
    list-style-type: none;
}

.subtitle{
    color:rgb(162, 162, 162);
    white-space: pre-wrap; 
}

footer{
    font-size:small;
    text-align: center;
    margin-bottom: 15px;
}

.music-btn {
    padding: 5px 5px;
    background-color: transparent; 
    color: white;
    border: 1px solid white;
    border-radius: 5px; 
    cursor: pointer;
    font-family: monospace;
    font-size: x-small;
    transition: all 0.8s ease;
    
}

.music-btn:hover {
    background-color: white;
    color: black;
}

#apptitle{
    font-size: 30px;
}

#csb{
    color: rgb(255, 214, 9);
    text-decoration: none;
    text-indent: 2em;
}
#csb:hover{
    color:rgb(255, 175, 27);
}

#banklink{
    text-indent: 2em;
}

#bankvideo {
    width: 100%;        
    height: auto;       
    max-width: 600px;   
    display: block;    
    margin-bottom: 20px;
}

#backBtn{
    color: #f5f5f5; 
    background-color: transparent; 
    text-align: center;
    text-decoration: none;
    border: 1px solid;
    border-radius: 30%;
    padding: 5px;
    cursor: pointer;
    transition: 0.8s ease;
}

#backBtn:hover{
    background-color: white;
    color: black;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    gap: 40px;                      
    margin-top: 40px;
    margin-bottom: 20px;
}

.header-text {
    flex: 1; 
}


@media(max-width: 768px) {
    .header-container {
        flex-direction: column-reverse; 
        text-align: center;
        gap: 20px;
    }

    .portrait {
        width: 200px;
        height: 200px;
        margin: 0 auto; 
    }

    #name {
        text-align: center;
    }
}